<%- include("../partials/header") %>


<body class="d-flex flex-column vh-100">
  <%- include("../partials/navbar") %>

  <main class="container mt-5"><%- body %></main>

  
</body>

<%- include("../partials/footer") %>
</html>

<script src="/javascripts/validateForms.js"></script>

